@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Address Book</h1>
  <h2>Contacts:</h2>
</div>
<br>

<ol>
  @foreach (var contact in Model)
  {
    <li><a href='/contact/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ol>
<br>
<p><a href="/contact/new">Add Another Contact</a></p>
<br>
<form action="/contact/delete" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
